@model RestaurantOrderProcessing.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "CheckoutOrder";
}


<main class="order-main">
    <h2 class="order-main-text">Оплата заказа:</h2>
    @using (Html.BeginForm())
    {
    <div class="checkout-center">
        @Html.ValidationSummary()
        <div class="form-group">
            <h4 class="text-center">Номер карты:</h4>
            @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control textbox-bank-card checkout-center" })
        </div>
        <div class="form-group">
            <h4 class="text-center">Номер столика:</h4>
            @Html.TextBoxFor(x => x.Table, new { @class = "form-control textbox-bank-card checkout-center" })
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Оплатить" />
        </div>
    </div>
        
    }
</main>