@model RestaurantOrderProcessing.Domain.Entities.Order

<div class="acc-nav-right">
    <label class="dishes-count">
        @Model.Lines.Sum(x => x.Quantity)
    </label>
    @Html.ActionLink("Корзина", "Index", "Order",
        new {returnUrl = Request.Url.PathAndQuery},
        new {@class = "acc-btn"})
</div>
