@model RestaurantOrderProcessing.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="order-main-text">Авторизация:</h2>
@using (Html.BeginForm())
{
<div class="checkout-center">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        <h4 class="text-center">Email:</h4>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control textbox-bank-card checkout-center" })
    </div>
    <div class="form-group">
        <h4 class="text-center">Пароль:</h4>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control textbox-bank-card checkout-center" })
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Подтвердить" />
    </div>
</div>
}