@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order-main">
    <img src="" />
    @Html.ActionLink("База данных пользователей", "", "Admin", routeValues: null, htmlAttributes: new { id = "usersLink", @class = "my-btn" })
    <p></p>
    <img src="" />
    @Html.ActionLink("База данных блюд", "DishesSummary", "Admin", routeValues: null, htmlAttributes: new { id = "dishesLink", @class = "my-btn" })
    <p></p>
    <img src="" />
    @Html.ActionLink("Заказы", "OrdersSummary", "Admin", routeValues: null, htmlAttributes: new { id = "ordersLink", @class = "my-btn" })
</div>

